.env
.env.local
.env.*.local

/mariadb/data-*/
/mariadb/logs-*/
/redis/data-*/
/nginx/logs-*/
/elasticsearch/data-*/

/mariadb/data/**
!/mariadb/data/.gitkeep
/mariadb/logs/**
/redis/data/**
!/redis/data/.gitkeep
/nginx/logs/**
!/nginx/logs/.gitkeep

/projects/**
!/projects/.gitkeep

.docker/

.idea/
.DS_Store

*.log

# Temporary
tmp/
temp/
*.tmp
